h1 {
	text-transform: capitalize;
	margin-bottom: 6vh;
}
h3 {
	text-transform: uppercase;
}
.tall-section {
	margin: 0;
}
.pirate {
	background-color: grey;
	margin-bottom: 4vh;
	padding: 4vh;
}


@media (max-width: 767px) {
	#collapsable-nav {
		background-color: lightgray;
	}

  .navbar-nav li {
  	text-align: center;
  }
}
